.ingredients{
    font-style: arial;
    font-size: 20px;
    margin-left: 150px;
    display: flex;
    flex-direction:column;
}

.list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 50px;
    

}

.method{
    font-style: arial;
    font-size: 20px;
    margin-left: 150px;
    display: flex;
    flex-direction:column;
}
.method-p{
    font-style: arial;
    font-size: 16px;
}

